<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gamedev Canvas Workshop</title>
    <style>
    	* { padding: 0; margin: 0; }
    	canvas { background: #eee; display: block; margin: 0 auto; }
    </style>
</head>
<body>

<canvas id="canvas" width="1024" height="715"></canvas>

<script src = "../static/CanvasInput.js"> </script>
<script src = "../static/CanvasInput.min.js"> </script>
<script src = "../static/Element.js"> </script>
<script src = "../static/Interactive.js"> </script>
<script src = "../static/Button.js"> </script>
<script src = "../static/Person.js"> </script>
<script src = "../static/gui.js"> </script>
<script src = "../static/ajax.js"> </script>

</body>
</html>
